.cloud/
.homekit.state
.storage/
.uuid
OZW_Log.txt
home-assistant.log
*.db
*.db-shm
*.db-wal
*.log.*
pyozw.sqlite
tts/
zwcfg_0xe8aba575.xml
zwave_device_config.yaml
zwscene.xml
.DS_Store
.idea
secrets.yaml
aircast.xml
config/home-assistant-rollback.log
